<nav class="drawer-nav" aria-labelledby="midd-drawer-nav-label">
  <h2 class="sr-only" id="midd-drawer-nav-label">Navigation</h2>

  <ul class="drawer-nav__list drawer-nav__list--top">
    {% if theme != 'wrmc' %}
      {% for item in ['Apply', 'Visit', 'Financial Aid'] %}
         <li class="drawer-nav__item drawer-nav__item-cta ">
             <a href="" class="drawer-nav__link drawer-nav__link--top f2">{{item}}</a>
         </li>
      {% endfor %}
    {% endif %}
    {% for item in (theme == 'wrmc' ? wrmc_site_nav.items : site_nav.items) %}
      <li class="drawer-nav__item">

        <a href="" class="drawer-nav__link drawer-nav__link--top">{{item.text}}</a>

        {% if item.items %}
          <button
            class="drawer-nav__handle"
            data-toggle-target=".js-subnav-{{loop.index}}"
            aria-haspopup="true"
            aria-expanded="false"
            aria-controls="midd-subnav-{{loop.index}}"
          >
            {% include 'icon.twig' with { name: 'chevron-down', class: 'drawer-nav__chevron' } %}
          </button>

          <ul class="drawer-nav__list drawer-nav__list--sub js-subnav-{{loop.index}}" id="midd-subnav-{{loop.index}}">
            {% for subitem in item.items %}
              <li class="drawer-nav__item drawer-nav__item--sub">
                <a href="" class="drawer-nav__link drawer-nav__link--sub">{{subitem.text}}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}

      </li>
    {% endfor %}

  </ul>

  {% if not theme == 'wrmc' %}
    <ul class="drawer-nav__list drawer-nav__list--util">
      {% for item in ['Midd Students', 'Parents', 'Advisors'] %}
        <li class="drawer-nav__item">
          <a href="" class="drawer-nav__link drawer-nav__link--util">{{item}}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

</nav>
