<div class="form-check{% if inline %} form-check--inline{% endif %}">
  <input
    type="radio"
    name="{{name}}"
    class="form-check__input"
    id="{{id}}"
    value="{{value}}"
    {% if required %} required{% endif %}
  />
  <label for="{{id}}" class="form-check__label">{{label}}</label>
</div>
