<figure class="grid-quote {{small ? 'quote-text--small' : ''}} {{dark ? 'quote--dark' : ''}}">
  <blockquote class="grid-quote__text">{{quote_text}}</blockquote>
  <figcaption class="grid-quote__caption">
    {{quote_author}}
    <p>
      <em>{{quote_author_title}}</em>
    </p>
  </figcaption>
</figure>
