<div class="office-footer" role="region" aria-label="Contact Information">
	<div class="container">
		<div class="office-footer__row">
			<div class="office-footer__col">
				<div>
					<h3 class="f3 mb-2">
						{{ name }}
					</h3>
					<p class="f2">
						{{ addr }}
					</p>
				</div>
			</div>

			<div
				class="office-footer__col">
				{# divs put in to match drupal site #}
				<div>
					<h3 class="f3 mb-2">
						Contact Us
					</h3>
					<h4 class="f2">
						General Info
					</h4>
					<p class="f2">
						<a href="tel:{{ tel }}" class="link-underline">{{ tel.text }}</a><br/>
						<a href="mailto:{{ email }}" class="link-underline">{{ email }}</a>
					</p>
					{% include 'social-links.twig' with {
            office_footer: true
          } %}
				</div>
				<div>
					<h3 class="f3 mb-2">
						Contact Us
					</h3>
					<h4 class="f2">
						General Info
					</h4>
					<p class="f2">
						<a href="tel:{{ tel }}" class="link-underline">{{ tel.text }}</a><br/>
						<a href="mailto:{{ email }}" class="link-underline">{{ email }}</a>
					</p>
				</div>
				<div>
					<h3 class="f3 mb-2">
						Contact Us
					</h3>
					<h4 class="f2">
						General Info
					</h4>
					<p class="f2">
						<a href="tel:{{ tel }}" class="link-underline">{{ tel.text }}</a><br/>
						<a href="mailto:{{ email }}" class="link-underline">{{ email }}</a>
					</p>
				</div>
			</div>

			<div class="office-footer__col">
				<div>
					<h3 class="f3 mb-2">
						Office Hours
					</h3>

					<p class="f2">
						{{ hours }}
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
